[submodule "tech-blog-auth-app"]
	path = tech-blog-auth-app
	url = git@github.com:dir-tanaka/tech-blog-auth-app.git
	branch = main
[submodule "tech-blog-frontend"]
	path = tech-blog-frontend
	url = git@github.com:dir-tanaka/tech-blog-frontend.git
	branch = main
